.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, .3);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
}

.menu_active {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s;
}

.menu__container {
  background-color: white;
  width: 520px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.menu__close-button {
  border: none;
  padding: 0;
  width: 22px;
  height: 22px;
  object-fit: cover;
  background-image: url('../../images/close-button.svg');
  background-position: center;
  background-color: white;
  position: absolute;
  right: 29px;
  top: 29px;
  cursor: pointer;
}

.menu__links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 159px;
}

.menu__link {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  margin-bottom: 28px;
  cursor: pointer;
}

.menu__link_active {
  border-bottom: 2px solid black;
  padding-bottom: 4px;
  margin-bottom: 22px;
}

.menu__account-button {
  border: none;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 90px;
  text-decoration: none;
  background: #F9F9F9;
  color: black;
  width: 100px;
  height: 32px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  cursor: pointer;
}

@media screen and (max-width: 680px) {
  .menu__container {
    width: 100%;
  }

  .menu__close-button {
    right: 20px;
    top: 20px;
  }

  .menu__links-container {
    margin-top: 144px;
  }

  .menu__link {
    margin-bottom: 24px;
  }

  .menu__link_active {
    padding-bottom: 7px;
    margin-bottom: 15px;
  }

  .menu__account-button {
    margin-bottom: 46px;
  }
}