.profile {
  background-color: white;
  max-width: 410px;
  box-sizing: border-box;
  padding-top: 74px;
  padding-bottom: 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.profile__title {
  margin: 0;
  margin-bottom: 123px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}

.profile__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 210px;
  width: 100%;
}

.profile__line {
  width: 100%;
  background-color: #E8E8E8;
  height: 1px;
  margin: 15px 0 16px;
}

.profile__info-container {
  display: grid;
  grid-template-columns: 50px auto;
}

.profile__info-input {
  padding: 0;
  margin: 0;
  margin-bottom: 1px;
  border: none;
  box-sizing: border-box;
  text-align: right;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
}

.profile__info-input:focus {
  outline: none;
  border-bottom: 1px solid #A0A0A0;
  margin-bottom: 0;
}

.profile__info-input::placeholder {
  color: black;
  margin: 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
}

.profile__info-title {
  margin: 0;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0px;
}

.profile__link_unactive {
  opacity: .5;
}

.profile__submit-button {
  margin: 0 auto;
  margin-bottom: 16px;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 110px;
  color: black;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0px;
  font-weight: 400;
}

.profile__logout-link {
  margin: 0 auto;
  cursor: pointer;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  color: #FF3055;
}

.profile__error {
  display: flex;
  margin: 0 auto;
  color: #FF3055;
  margin-top: 10px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
}

.profile__good-error {
  color: #2be080;
}

@media screen and (max-width: 900px) {
  .profile__title {
    margin-bottom: 96px;
  }

  .profile__container {
    margin-bottom: 210px;
  }
}

@media screen and (max-width: 550px) {
  .profile {
    max-width: 470px;
    padding: 70px 30px 40px;
  }

  .profile__title {
    margin-bottom: 80px;
  }

  .profile__line {
    margin: 16px 0 17px;
  }

  .profile__container {
    margin-bottom: 379px;
  }
}