.promo {
  background-color: #073042;
  height: 560px;
  font-family: 'Inter';
}

.promo__container {
  max-width: 1280px;
  height: 560px;
  padding: 0 70px;
  margin: 0 auto;
  position: relative;
}

.promo__text {
  color: white;
  max-width: 626px;
  margin: 0;
  padding-top: 50px;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: -0.04em;
}

.promo__image {
  width: 722px;
  height: 244px;
  position: absolute;
  bottom: 60px;
  right: 70px;
}

@media screen and (max-width: 900px) {
  .promo {
    height: 844px;
  }

  .promo__container {
    height: 844px;
    padding-left: 44px;
    padding-right: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .promo__text {
    text-align: center;
    margin: 0;
  }

  .promo__image {
    max-width: 680px;
    height: 230px;
    position: static;
    margin-top: 140px;
    margin-bottom: 70px;
    bottom: 0;
    right: 0;
  }
}

@media screen and (max-width: 695px) {
  .promo {
    max-height: 630px;
  }

  .promo__container {
    max-height: 630px;
    padding: 0;
    justify-content: flex-start;
  }

  .promo__text {
    max-width: 300px;
    padding: 0;
    margin-top: 183px;
    text-align: center;
    font-size: 31px;
    line-height: 39px;
  }

  .promo__image {
    max-width: 100%;
    margin: 0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    bottom: 40px;
    object-fit: cover;
  }
}